<!DOCTYPE html>
<html>
<head>
    <title>Document Uploader</title>
</head>
<body>
    <h1>Document Uploader</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="document">Select a document:</label>
        <input type="file" id="document" name="document" accept=".txt, .pdf"><br><br>

        <label for="k">Word Length:</label>
        <input type="number" id="k" name="k" min="1" required><br><br>

        <input type="submit" value="Upload Document">
    </form>
</body>
</html>